@model List<Chapeau_Project_1._4.ViewModel.TableOrderViewModel>

@{
    string cancelMessage = TempData["CancelMessage"]?.ToString();
    ViewData["Title"] = "Table Overview";
}
<partial name="_SucessMessage" model="cancelMessage" />

@{
    string PaySuccessMessage = TempData["PaySuccessMessage"]?.ToString();
}
<partial name="_SucessMessage" model="PaySuccessMessage" />

@{
    string SomethingWrongMessage = TempData["SomethingWrongMessage"]?.ToString();
}
<partial name="_ErrorMessage" model="SomethingWrongMessage" />

<h2>Restaurant Table Layout with Order Status</h2>

<div class="table-grid">
    @foreach (var table in Model)
    {
        string statusClass = table.IsOccupied ? "occupied" : "free";

        <a asp-controller="RestaurantTable" asp-action="Details" asp-route-id="@table.TableNumber" class="table-square @statusClass">
            <div class="table-number">Table @table.TableNumber</div>
            <div class="table-status">@((table.IsOccupied) ? "Occupied" : "Free")</div>

            <div class="table-orders">
                <div>Food order: @table.FoodOrderStatus</div>
                <div>Drink order: @table.DrinkOrderStatus</div>
            </div>
        </a>
    }
</div>

<form method="get">
    <button type="submit" asp-controller="RestaurantTable" asp-action="Overview" class="btn btn-secondary">Refresh</button>
</form>

