@model Chapeau_Project_1._4.Models.Order

@{
    ViewData["Title"] = "Take Order";
    ECardOptions cardFilter = (ECardOptions)ViewData["CardFilter"];
    ECategoryOptions categoryFilter = (ECategoryOptions)ViewData["CategoryFilter"];    
}

@{
    string sucessMessage = TempData["SuccessMessage"]?.ToString();
}
<partial name="_SucessMessage" model="sucessMessage" />


<a class="btn btn-success" href="/RestaurantTable/Overview"> Back to Tables</a>

<div style="display: flex; gap: 20pxc;">

    <div style="flex: 1; border: 1px solid #ccc; padding: 10px;">
        @await Component.InvokeAsync("Menu", new { orderNumber = Model.OrderNumber, cardFilter = cardFilter, categoryFilter = categoryFilter })
    </div>

    <div style="flex: 1; border: 1px solid #ccc; padding: 10px;">
        <h2>Order List</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderItems)
                {
                    <tr>
                        <td>@item.MenuItem.MenuItemName</td>
                        <td>@item.Quantity</td>
                        <td>@item.Note</td>                        
                        
                        @if (item.ItemStatus == EItemStatus.onHold)
                        {
                            <td>
                                <details>
                                    <summary>Edit</summary>
                                    <div class="menu-buttons">  
                                        @if (item.MenuItem.Stock > item.Quantity)
                                        {
                                        <a class="btn btn-success" asp-controller="Order" asp-action="EditItemQuantity" 
                                            asp-route-orderItemId="@item.OrderItemId" asp-route-operation="increase">+</a>
                                        }
                                        else
                                        {
                                            <p style="color: red">Maximun ammount available of the item reached</p>
                                        }

                                        <a class="btn btn-success" asp-controller="Order" asp-action="EditItemQuantity"
                                           asp-route-orderItemId="@item.OrderItemId" asp-route-operation="decrease">-</a>

                                        @* DELETE ITEM *@
                                        <a class="btn btn-success" asp-controller="Order" asp-action="DeleteSingleItem"
                                           asp-route-orderItemId="@item.OrderItemId">Remove</a>

                                        @* EDIT NOTE *@
                                        <form asp-controller="Order" asp-action="EditItemNote" method="post">
                                            <input type="hidden" name="orderItemId" value="@item.OrderItemId" />

                                            <details>
                                                <summary class="btn btn-success">Note</summary>
                                                <div class="mt-2">
                                                    <label for="note">Edit note:</label>
                                                    <input type="text" name="note" value="@item.Note" class="form-control" />
                                                    <button type="submit" class="btn btn-primary mt-2">Save</button>
                                                </div>
                                            </details>
                                        </form>

                                    </div>
                                </details>
                            </td>
                        }
                        else
                        {
                           <td>
                               <i style="background-color:lightgreen"> Sent</i>
                           </td> 
                        }
                    </tr>
                }
            </tbody>
        </table>

        
        <form asp-controller="Order" asp-action="SendOrder" method="post">
                
            <input type="hidden" asp-for="OrderNumber" />
            <input type="hidden" asp-for="Status" />
            <input type="hidden" asp-for="OrderTime" />
            <input type="hidden" asp-for="TableNumber" />

            <button type="submit" class="btn btn-success">Send</button>
        </form>

        <form asp-controller="Order" asp-action="CancelOrder" method="post">

            <input type="hidden" asp-for="OrderNumber" />
            <input type="hidden" asp-for="Status" />
            <input type="hidden" asp-for="OrderTime" />
            <input type="hidden" asp-for="TableNumber" />

            <button type="submit" class="btn btn-success">Cancel</button>
        </form>

        <a class="btn btn-success" asp-controller="Payment" asp-action="DisplayOrder" asp-route-table="@Model.TableNumber">Pay</a>       
         

    </div>

</div>





