@model List<Chapeau_Project_1._4.Models.OrderItem>

@{
    ViewData["Title"] = "Take Order";
    ECardOptions cardFilter = (ECardOptions)ViewData["CardFilter"];
    ECategoryOptions categoryFilter = (ECategoryOptions)ViewData["CategoryFilter"];
    int orderNumber = (int)ViewData["OrderNumber"];  
}

@if (TempData["SuccesMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccesMessage"]
    </div>
}

<div style="display: flex; gap: 20pxc;">

    <div style="flex: 1; border: 1px solid #ccc; padding: 10px;">
        @await Component.InvokeAsync("Menu", new { orderNumber = orderNumber, cardFilter = cardFilter, categoryFilter = categoryFilter })
    </div>

    <div style="flex: 1; border: 1px solid #ccc; padding: 10px;">
        <h2>Order List</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.MenuItem.MenuItemName</td>
                        <td>@item.Quantity</td>
                        <td>@item.Note</td>
                    </tr>
                }
            </tbody>
        </table>

        <a class="btn btn-success" asp-controller="Order" asp-action="SendOrder" asp-route-orderNumber="@orderNumber">Send</a>
        <a class="btn btn-danger">Cancel</a>
        <a class="btn btn-primary">Pay</a>
    </div>

</div>



