@model Chapeau_Project_1._4.Models.Order

@{
    ViewData["Title"] = "Take Order";
    ECardOptions cardFilter = (ECardOptions)ViewData["CardFilter"];
    ECategoryOptions categoryFilter = (ECategoryOptions)ViewData["CategoryFilter"];    
}

@if (TempData["SuccesMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccesMessage"]
    </div>
}

<div style="display: flex; gap: 20pxc;">

    <div style="flex: 1; border: 1px solid #ccc; padding: 10px;">
        @await Component.InvokeAsync("Menu", new { orderNumber = Model.OrderNumber, cardFilter = cardFilter, categoryFilter = categoryFilter })
    </div>

    <div style="flex: 1; border: 1px solid #ccc; padding: 10px;">
        <h2>Order List</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderItems)
                {
                    <tr>
                        <td>@item.MenuItem.MenuItemName</td>
                        <td>@item.Quantity</td>
                        <td>@item.Note</td>
                        <td>
                            @if (item.ItemStatus == EItemStatus.onHold)
                            {
                                <details>
                                    <summary>Edit</summary>
                                    <div class="menu-buttons">
                                        <form asp-controller="Order" asp-action="IncreaseItemQuantity" method="post">

                                            <input type="hidden" asp-for="@item.OrderItemId" />
                                            <input type="hidden" asp-for="@item.Quantity" />
                                            <input type="hidden" asp-for="@item.Note" />
                                            <input type="hidden" asp-for="@item.ItemStatus" />
                                            <input type="hidden" asp-for="@item.MenuItem.MenuItemId" />
                                            <input type="hidden" asp-for="@item.OrderNumber" />

                                            <button type="submit" class="btn btn-success">+</button>
                                        </form>
                                        <button>-</button>
                                        <button>Add comment</button>
                                        <button>Delete</button>
                                    </div>
                                </details>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        
        <form asp-controller="Order" asp-action="SendOrder" method="post">
                
            <input type="hidden" asp-for="OrderNumber" />
            <input type="hidden" asp-for="Status" />
            <input type="hidden" asp-for="OrderTime" />
            <input type="hidden" asp-for="TableNumber" />

            <button type="submit" class="btn btn-success">Send</button>
        </form>

        <form asp-controller="Order" asp-action="CancelOrder" method="post">

            <input type="hidden" asp-for="OrderNumber" />
            <input type="hidden" asp-for="Status" />
            <input type="hidden" asp-for="OrderTime" />
            <input type="hidden" asp-for="TableNumber" />

            <button type="submit" class="btn btn-success">Cancel</button>
        </form>

        <a class="btn btn-primary">Pay</a>
    </div>

</div>



