@model Chapeau_Project_1._4.Models.Order

@{
    ViewData["Title"] = "Take Order";
    ECardOptions cardFilter = (ECardOptions)ViewData["CardFilter"];
    ECategoryOptions categoryFilter = (ECategoryOptions)ViewData["CategoryFilter"];    
}

@if (TempData["SuccesMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccesMessage"]
    </div>
}

<div style="display: flex; gap: 20pxc;">

    <div style="flex: 1; border: 1px solid #ccc; padding: 10px;">
        @await Component.InvokeAsync("Menu", new { orderNumber = Model.OrderNumber, cardFilter = cardFilter, categoryFilter = categoryFilter })
    </div>

    <div style="flex: 1; border: 1px solid #ccc; padding: 10px;">
        <h2>Order List</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderItems)
                {
                    <tr>
                        <td>@item.MenuItem.MenuItemName</td>
                        <td>@item.Quantity</td>
                        <td>@item.Note</td>                        
                        
                        @if (item.ItemStatus == EItemStatus.onHold)
                        {
                            <td>
                                <details>
                                    <summary>Edit</summary>
                                    <div class="menu-buttons">
                                        @* INCREASE QUANTITY *@
                                        <form asp-controller="Order" asp-action="IncreaseItemQuantity" method="post">

                                            <input type="hidden" name="OrderItemId" value="@item.OrderItemId" />
                                            <input type="hidden" name="Quantity" value="@item.Quantity" />
                                            <input type="hidden" name="Note" value="@item.Note" />
                                            <input type="hidden" name="ItemStatus" value="@item.ItemStatus" />
                                            <input type="hidden" name="MenuItem.MenuItemId" value="@item.MenuItem.MenuItemId" />
                                            <input type="hidden" name="OrderNumber" value="@item.OrderNumber" />

                                            <button type="submit" class="btn btn-success">+</button>
                                        </form>

                                        @* DECREASE QUANTITY *@                                        
                                        <form asp-controller="Order" asp-action="DecreaseItemQuantity" method="post">

                                            <input type="hidden" name="OrderItemId" value="@item.OrderItemId" />
                                            <input type="hidden" name="Quantity" value="@item.Quantity" />
                                            <input type="hidden" name="Note" value="@item.Note" />
                                            <input type="hidden" name="ItemStatus" value="@item.ItemStatus" />
                                            <input type="hidden" name="MenuItem.MenuItemId" value="@item.MenuItem.MenuItemId" />
                                            <input type="hidden" name="OrderNumber" value="@item.OrderNumber" />

                                            <button type="submit" class="btn btn-success">-</button>
                                        </form>

                                        @* DELETE ITEM *@
                                        <form asp-controller="Order" asp-action="DeleteSingleItem" method="post">

                                            <input type="hidden" name="OrderItemId" value="@item.OrderItemId" />
                                            <input type="hidden" name="Quantity" value="@item.Quantity" />
                                            <input type="hidden" name="Note" value="@item.Note" />
                                            <input type="hidden" name="ItemStatus" value="@item.ItemStatus" />
                                            <input type="hidden" name="MenuItem.MenuItemId" value="@item.MenuItem.MenuItemId" />
                                            <input type="hidden" name="OrderNumber" value="@item.OrderNumber" />

                                            <button type="submit" class="btn btn-success">Remove</button>
                                        </form>

                                        @* EDIT NOTE *@
                                        <form asp-controller="Order" asp-action="EditItemNote" method="post">
                                            <input type="hidden" name="OrderItemId" value="@item.OrderItemId" />
                                            <input type="hidden" name="Quantity" value="@item.Quantity" />
                                            <input type="hidden" name="ItemStatus" value="@item.ItemStatus" />
                                            <input type="hidden" name="MenuItem.MenuItemId" value="@item.MenuItem.MenuItemId" />
                                            <input type="hidden" name="OrderNumber" value="@item.OrderNumber" />

                                            <details>
                                                <summary class="btn btn-success">Note</summary>
                                                <div class="mt-2">
                                                    <label for="Note">Edit note:</label>
                                                    <input type="text" name="Note" value="@item.Note" class="form-control" />
                                                    <button type="submit" class="btn btn-primary mt-2">Save</button>
                                                </div>
                                            </details>
                                        </form>

                                    </div>
                                </details>
                            </td>
                        }
                        else
                        {
                           <td>
                               <i style="background-color:lightgreen"> Sent</i>
                           </td> 
                        }
                    </tr>
                }
            </tbody>
        </table>

        
        <form asp-controller="Order" asp-action="SendOrder" method="post">
                
            <input type="hidden" asp-for="OrderNumber" />
            <input type="hidden" asp-for="Status" />
            <input type="hidden" asp-for="OrderTime" />
            <input type="hidden" asp-for="TableNumber" />

            <button type="submit" class="btn btn-success">Send</button>
        </form>

        <form asp-controller="Order" asp-action="CancelOrder" method="post">

            <input type="hidden" asp-for="OrderNumber" />
            <input type="hidden" asp-for="Status" />
            <input type="hidden" asp-for="OrderTime" />
            <input type="hidden" asp-for="TableNumber" />

            <button type="submit" class="btn btn-success">Cancel</button>
        </form>

        <a class="btn btn-success" asp-controller="Payment" asp-action="DisplayOrder" asp-route-table="@Model.TableNumber">Pay</a>       
         

    </div>

</div>



