@model List<Chapeau_Project_1._4.Models.MenuItem>

@{
	ViewData["Title"] = "Menu";    
    string card = "";
    string previuosCategory = "";
}

<div class="text-center">
	<h1 class="display-4">Le Menu</h1>
</div>

<form asp-action="DisplayMenu" method="get" class="mb-3">   
    <!--how to put viewbag in the select-->

    <label for="cardFilter">Select Card</label>
    <select id="cardFilter" name="cardFilter" value="@ViewBag.CardFilter">
        <option value="Lunch">Lunch</option>
        <option value="Dinner">Dinner</option>
        <option value="Drinks">Drinks</option>        
    </select>

    <label for="categoryFilter">Select Category</label>
    <select id="categoryFilter" name="categoryFilter" value="@ViewBag.CategoryFilter">
        @foreach (var categorie in ViewBag.DropdownCategories)
        {
            <option value="@categorie">@categorie</option>
        }
    </select>    

    <button type="submit" class="btn btn-primary mt-2">Filter</button>
</form>

@foreach (var menuItem in Model)
{
    
    if (menuItem.Card != card)
    {
        <h1 style="width: 70%; margin: 30px auto; text-align: left;">@menuItem.Card</h1>
        card = menuItem.Card;
        previuosCategory = ""; 
    }

    
    if (menuItem.Category != previuosCategory)
    {
        <h2 style="text-align: center; margin-top: 20px">@menuItem.Category</h2>
        previuosCategory = menuItem.Category;
    }

    
    <table style="border-collapse: collapse; width: 70%; margin: auto;">
        <tr>
            <td>@menuItem.MenuItemName</td>
            <td style="text-align: right;">€@menuItem.Price</td>
        </tr>
    </table>
}


<!--<a href="/Users/Create" class="btn-custom">Create User</a>-->