@model Chapeau_Project_1._4.Models.MenuViewModel

@{
    ViewData["Title"] = "Menu";
    string card = "";
    string previousCategory = "";
}

<div class="text-center">
    <h1 class="display-4">Le Menu</h1>
</div>

<ul class="nav nav-pills">
    
    @foreach (var cardEnum in Model.CategoriesDictionary.Keys)
    {
        <li class="nav-item">
            <a class="nav-link @(Model.CardFilter == cardEnum ? "active" : "")" asp-action="DisplayMenu" asp-route-cardFilter="@cardEnum">@cardEnum</a>
        </li>
    }

</ul>

<!-- Mostrar categorías filtradas por CardOptions -->
@if (Model.CategoriesDictionary.ContainsKey(Model.CardFilter))
{
    <p>Choose a Category:</p>
    @foreach (var category in Model.CategoriesDictionary[Model.CardFilter])
    {
        <button class="btn btn-primary"
                onclick="window.location.href='@Url.Action("DisplayMenu", new { cardFilter = Model.CardFilter, categoryFilter = category })'">
            @category
        </button>
    }
}

<div class="tab-content overflow-scroll">
    <!-- ALL muestra todo el menú sin filtro -->
    <div id="All" class="tab-pane fade show active">
        @foreach (var menuItem in Model.MenuItems)
        {
            if (menuItem.Card != card)
            {
                <h1 style="width: 70%; margin: 30px auto; text-align: left;">@menuItem.Card</h1>
                card = menuItem.Card;
                previousCategory = "";
            }

            if (menuItem.Category != previousCategory)
            {
                <h2 style="text-align: center; margin-top: 20px">@menuItem.Category</h2>
                previousCategory = menuItem.Category;
            }

            <table style="border-collapse: collapse; width: 70%; margin: auto;">
                <tr>
                    <td>@menuItem.MenuItemName</td>
                    <td style="text-align: right;">€@menuItem.Price</td>
                </tr>
            </table>
        }
    </div>

  

    

</div>



<!--<a href="/Users/Create" class="btn-custom">Create User</a>-->