@model Chapeau_Project_1._4.Models.Order

@{
	ViewData["Title"] = "Order";
}

<div class="text-center">
	<h1 class="display-4">Le Order of table @Model.TableNumber</h1>

	<a asp-controller="Payment" asp-action="DisplayOrder" asp-route-table="@Model.TableNumber" class="btn btn-secondary mt-2 mb-2">Pay together</a>
	<a asp-controller="Payment" asp-action="SplitAmount" asp-route-table="@Model.TableNumber" class="btn btn-secondary mt-2 mb-2">Split bill (equally)</a>
	<a asp-controller="Payment" asp-action="DisplayOrder" asp-route-table="@Model.TableNumber" class="btn btn-secondary mt-2 mb-2">Split bill (choose amount)</a>

	<table class="table">
		<thead>
			<tr>
				<th>item</th>
				<th>quantity</th>
				<th>note</th>
				<th>price</th>
				<th>VAT</th>
			</tr>
		</thead>
		<tbody>
			@{
				foreach (OrderItem item in Model.OrderItems)
				{
					string rowStyle = "";

					<tr @rowStyle>
						<td>@item.MenuItem.MenuItemName</td>
						<td>@item.Quantity</td>
						<td>@item.Note</td>
						<td>@item.MenuItem.Price</td>
						@if (item.MenuItem.IsAlcoholic)
						{
							<td>21%</td>
						}
						else
						{
							<td>9%</td>
						}
					</tr>
				}

				<tr>
					<td>total price: €@Model.Total</td>
				</tr>
			}
		</tbody>
	</table>
</div>

